@model Marks
<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Please Enter the Student ID and Course ID </h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="stud_id">Student ID</label>
			<input asp-for="stud_id" class="form-control" />
			<span asp-validation-for="stud_id" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="course_id">Course ID</label>
			<input asp-for="course_id" class="form-control" />
			<span asp-validation-for="course_id" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Set Grade</button>
		<a asp-controller="Teacher" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
